# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.coverage*
.pytest_cache/

# Env & secrets
.env
.env.*
!.env.example
.envrc

# Editors/OS
.DS_Store
.idea/
.vscode/

# Virtualenvs
.venv/
venv/

# Node (if any in subfolders)
node_modules/

# Docker
**/.docker/*
**/.tmp/**

